@model ClientWeb.ViewModel.FilmViewModel
@{
    ViewBag.Title = "DetailsFilm";
}

<h2>DetailsFilm</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.film.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film.AnneeDeSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.AnneeDeSortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film.LangueOriginale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.LangueOriginale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film.DureeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.DureeMinutes)
        </dd>

        @if (Model.film.Scenaristes != null)
            {
            <dt>
                @Html.DisplayNameFor(model => model.film.Scenaristes[0])
            </dt>

            foreach (var item in Model.film.Scenaristes)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.Nom)
                </dd>
            }
        }

        <dt>
            @Html.DisplayNameFor(model => model.film.Pays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.Pays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film.Genres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.Genres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.film.Realisateur)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.Realisateur.Personne.Prenom) @Html.DisplayFor(model => model.film.Realisateur.Personne.NomFamille)
        </dd>

        @if (Model.film.Acteurs != null)
            {
            <dt>
                @Html.DisplayNameFor(model => model.film.Acteurs[0])
            </dt>

            foreach (var item in Model.film.Acteurs)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.Prenom) @Html.DisplayFor(modelItem => item.NomFamille)
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.film.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.Resume)
        </dd>

        <br />
        <dt>
            @Html.DisplayNameFor(model => model.film.NbCopieRestante)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.film.NbCopieRestante)
        </dd>
    </dl>
    @if (Model.client.Forfait.LocationMax >= Model.client.GetNbLocationsEnCours())
    {
        <p>Impossible de louer le film, car on possède deja @Model.client.GetNbLocationsEnCours() locations en cours alors que notre forfait nous en permet seulement @Model.client.Forfait.LocationMax</p>
    }
    else if (Model.film.NbCopieRestante < 1)
    {
        <p>Impossible de louer le film car il n'en reste plus</p>
    }
    else
    {
        <p>Impossible de louer le film, car on possède deja @Model.client.GetNbLocationsEnCours() locations en cours alors que notre forfait nous en permet seulement @Model.client.Forfait.LocationMax</p>
    }
</div>
<p>
    @Html.ActionLink("Revenir à la recherche", "Recherche")
</p>