@model ClientWeb.Models.Film

@{
    ViewBag.Title = "DetailsFilm";
}

<h2>DetailsFilm</h2>

<div>
    <h4>Film</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AnneeDeSortie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnneeDeSortie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LangueOriginale)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LangueOriginale)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DureeMinutes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DureeMinutes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Realisateurs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Realisateurs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Scenariste)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Scenariste)
        </dd>

        @if (Model.Acteurs != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Acteurs[0])
            </dt>

            foreach (var item in Model.Acteurs)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.Prenom)
                </dd>
            }
        }

        @if (Model.Realisateurs != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.Realisateurs[0])
            </dt>

            foreach (var item in Model.Realisateurs)
            {
                <dd>
                    @Html.DisplayFor(modelItem => item.Personne.Prenom)
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.Resume)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resume)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Recherche")
</p>