@model IEnumerable<ClientWeb.Models.Film>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AnneeDeSortie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LangueOriginale)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DureeMinutes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Realisateurs)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Scenariste)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Resume)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Titre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AnneeDeSortie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LangueOriginale)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DureeMinutes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Realisateurs)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Scenariste)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Resume)
        </td>
        <td>
            @Html.ActionLink("Details", "DetailsFilm", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
