@model ClientWeb.ViewModel.FilmActionViewModel
@{
    ViewBag.Title = "Recherche";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("ListeFilm", "Film", FormMethod.Post))
{
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.Titre, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Titre) })
    </div>
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.Realisateur, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Realisateur) })
    </div>
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.Pays, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Pays) })
    </div>
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.LangueOriginale, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.LangueOriginale) })
    </div>
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.Genre, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Genre) })
    </div>
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.AnneeSortie, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.AnneeSortie) })
    </div>
    <div class="col-lg-3">
        @Html.TextBoxFor(m => m.Acteur, new { @class = "form-control", placeholder = Html.DisplayNameFor(n => n.Acteur) })
    </div>
    <div class="col-lg-3">
        <button class="btn" type="submit">Envoyer</button>
    </div>
}
@if (Model.Films != null && Model.Films.Any())
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Films[0].Titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films[0].AnneeDeSortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films[0].LangueOriginale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Films[0].DureeMinutes)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.Films)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnneeDeSortie)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LangueOriginale)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DureeMinutes)
                </td>
                <td>
                    @Html.ActionLink("Details", "DetailsFilm", new { id = item.Id })
                </td>
            </tr>
        }
    </table>
}
else
{
    <br />
    <div class="col-lg-12">
        <p class="bg-danger">Aucun Résultat pour votre recherche</p>
    </div>
}